:root {
    --main-bg: #f4f7f6;
    --card-bg: #ffffff;
    --nav-bg: #2c3e50;
    --title-color: #1a252f;
    --body-text: #546e7a;
    --white-text: #ffffff;
    --action-edit: #3498db;
    --action-delete: #e74c3c;
    --action-add: #2ecc71;
    --border-soft: #dee2e6;
    --radius: 10px;
    --shadow: 0 4px 15px rgba(0,0,0,0.1);
    
}

body{
    background-color: var(--main-bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    text-align: center;
    color: var(--title-color);

}
nav{
    background-color: var(--nav-bg);
    padding: 10px;
    margin: 50px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: var(--text-main);
    margin: 0 15px; 
    font-weight: bold;
    transition: 0.3s;
    color: #f4f7f6;
}
nav a:hover {
    color: var(--body-text); 
}

main{
    background: var(--main-bg);
    display: flex;
    flex-direction: row;
}
article {
    background-color: var(--bg-card);
    padding: 25px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    width: 320px;
    margin: 20px;
    display: inline-block; 
    vertical-align: top;
}

article h2 {
    color: #2c3e50;
    margin-bottom: 15px;
}

article p {
    color: var(--text-p);
    border-bottom: 1px solid #eee; 
    padding-bottom: 20px;
    margin-bottom: 20px;
}

 img{
    width: 100%;
    max-width: 360px;
    max-height: 200px;
    object-fit: cover;
 }
